<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="Habitat Saint-Quentinois" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header class="noo-header header_default">
    <div class="navbar-wrapper">
        <div class="noo-topbar">
            <div class="noo-container">
                <div class="noo-topmeta noo-topmeta-left pull-left">
                    <i class="fa fa-mobile"></i>
                    Téléphone: <a href="tel:0323061111">03.23.06.11.11</a>
                </div>
                <div class="noo-topmeta noo-topmeta-right pull-right">

                    <a id="menu-item-register" class="noo-popup-register noo-login-button menu-item-register" href="#" title="Register"><i class="fa fa-edit"></i> Contactez-nous </a>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default" role="navigation">
            <div class="noo-container">
                <div class="navbar-content">
                    <div class="navbar-header noo-md-2">
                        <button data-target=".nav-collapse" class="btn-navbar noo_icon_menu" type="button">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a href="/" class="navbar-brand" title="Habitat Saint-Quentinois">
                            <img class="noo-logo-img noo-logo-normal" src="{{ asset('images/logo.png') }}" alt="Habitat Saint-Quentinois">
                        </a>
                    </div>
                    <nav class="noo-md-8 noo-main-menu">
                        <ul id="menu-menu-primary" class="nav-collapse navbar-nav">
                            <li id="menu-item-2512"
                                class="noo-menu   menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children ">
                                <a href="#">Nous Connaître</a>
                                <ul class="sub-menu">
                                    <li class="noo-menu menu-item menu-item-type-post_type_archive menu-item-object-noo_property ">
                                        <a href="#">Carte d'Identité  </a>
                                    </li>
                                    <li class="noo-menu menu-item menu-item-type-post_type_archive menu-item-object-noo_property ">
                                        <a href="#">Historique</a>
                                    </li>
                                    <li class="noo-menu menu-item menu-item-type-post_type_archive menu-item-object-noo_property ">
                                        <a href="#">Organisation Interne</a>
                                    </li>
                                    <li class="noo-menu menu-item menu-item-type-post_type_archive menu-item-object-noo_property ">
                                        <a href="#">Offres d'Emploi</a>
                                    </li>
                                    <li class="noo-menu menu-item menu-item-type-post_type_archive menu-item-object-noo_property ">
                                        <a href="#">Notre Patrimoine</a>
                                    </li>
                                    <li class="noo-menu menu-item menu-item-type-post_type_archive menu-item-object-noo_property ">
                                        <a href="#">Habitat Senior et adaptabilité</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-2450"
                                class="noo-menu   menu-item menu-item-type-post_type_archive menu-item-object-noo_property menu-item-has-children ">
                                <a href="#">Devenir Locataire</a>
                                <ul class="sub-menu">
                                    <li class="noo-menu menu-item menu-item-type-post_type_archive menu-item-object-noo_property ">
                                        <a href="#">Nos ofrres</a>
                                    </li>
                                    <li class="noo-menu menu-item menu-item-type-post_type_archive menu-item-object-noo_property ">
                                        <a href="#">Faire une demande de logement social</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-2465"
                                class="noo-menu   menu-item menu-item-type-post_type_archive menu-item-object-noo_agent menu-item-has-children ">
                                <a href="#">Devenir Propriétaire</a>
                            </li>
                            <li id="menu-item-2178"
                                class="noo-menu   menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children ">
                                <a href="#">Entreprises</a>
                                <ul class="sub-menu">
                                    <li class="noo-menu menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="#">Marchés en cours</a>
                                    </li>
                                    <li class="noo-menu menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="#">Marchés attribués</a>
                                    </li>
                                    <li class="noo-menu menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="#">Relations avec les Entreprises</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-2178"
                                class="noo-menu   menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children ">
                                <a href="#">Contact</a>
                            </li>
                            <li class="magic-line hide-line" style="width: 78px; left: 0px;"></li>
                        </ul>
                    </nav>
                    <div class="noo-md-2 navbar-meta meta-property">
                        <div class="meta-content">
                            <a href="#"
                               class="meta-property noo-button">
                                <span><i class="fa fa-user-circle"></i></span>Espace Locataire</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% block body %}{% endblock %}
<footer class="wrap-footer footer_1">

    <div class="main-footer">
        <div class="colophon wigetized">
            <div class="noo-container">
                <div class="noo-row">
                    <div class="xxx footer-column-item noo-md-4 noo-sm-6">
                        <div id="text-2" class="widget widget_text">
                            <h4 class="widget-title">Contact</h4>
                            <div class="textwidget">
                                <ul class="contact-info">
                                    <li><i class="fa fa-map-marker"></i> 4 rue Henri Hertz, SAINT-QUENTIN</li>
                                    <li><i class="fa fa-phone"></i> 03 23 06 05 40</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="xxx footer-column-item noo-md-4 noo-sm-6">
                        <div id="text-3" class="widget widget_text">
                            <h4 class="widget-title">Horaires</h4>
                            <div class="textwidget">
                                <ul class="open-info">
                                    <li>Lun - Mer - Ven : 8h30 - 12h | 13h30 - 17h</li>
                                    <li>Mar - Jeu: 8h30 - 12h</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="xxx footer-column-item noo-md-4 noo-sm-6">
                        <div id="nav_menu-2" class="widget widget_nav_menu">
                            <h4 class="widget-title">Liens Utiles</h4>
                            <div class="menu-useful-link-container">
                                <ul id="menu-useful-link" class="menu">
                                    <li id="menu-item-2344" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2344"><a href="#">Nous Situer</a></li>
                                    <li id="menu-item-2345" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2345"><a href="#">Nous Contacter</a></li>
                                    <li id="menu-item-1476" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1476"><a href="#">Documents à Télécharger</a></li>
                                    <li id="menu-item-1476" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1476"><a href="#">Nos Partenaires</a></li>
                                    <li id="menu-item-1476" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1476"><a href="#">Mentions Légales</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}{% endblock %}
<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
</body>
</html>
